@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        color: white;
        background-color: rgba(0, 0, 0, 0.986) ;
    }
}

@layer components {
    .menuLink {
        @apply cursor-pointer hover:text-[#c5c5c5];
    }

    .tags{
        background-color: rgb(33, 88, 88);
        margin-right: 0.5rem;
        margin-top: 0.5rem;
        padding: 3px 10px;
        display: inline-block;
        color: white;
        font-size: 15;
    }

    .tags:last-child {
        margin-right: 0;

    }

    .tags:nth-child(2) {
        background-color: rgb(245, 104, 10);
    }

    .tags:nth-child(3) {
        background-color: rgb(158, 187, 30);
    }

    .tags:nth-child(4) {
        background-color: rgb(83, 43, 226);
    }
}